* {
  font-family: Imprima;
  background-color: rgb(248, 225, 171);
  
}
body {
  margin: 0;
  font-family: sans-serif;
}


h1,h2,h3,h4, p {
  font-family: Imprima;
  padding: 0 60px;
}



a {
  color: rgb(213, 150, 33);
}


nav {
  text-align: right;
  padding: 0 60px 20px 60px;
}

nav a {
  padding: 0 20px;
  font-size: 20px;
  color: black;
}

footer {
  background-color: #333333;
  color: black;
  padding: 30px 0;
  
  width: 100%;
  height: fit-content;
  z-index: 10;
  top: 85%;
}

/*.main-img {
  padding: 0 60px;
  width: 500px;
  height: 550px;

}*/

.title,.subtitle {
  text-align: center;
}

h1 {
  font-size: 65px;
  text-align: center;
  font-weight: bolder;
}

.subtitle {
  text-align: center;
}

/*for find a doctor page 'index'*/

.zipcode {
  font-size: 24px;
  text-align: center;
  padding: 10px 60px 0px 60px;
  font-family: Imprima;
}

.zipcode button{
  box-shadow: 2px 2px gray;
  width: 75px;
  height: 25px;
  font-size: 16px;

}

#zip {
  width: 200px;
  height: 25px;
  font-size: 16px;
}

/*for learn more page*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.image img {
  width: 500;
  height: 550px;
  padding: 0 60px;
}

.image {
  flex-basis: 40%;
  float: left;
  padding: 0px 40px 30px 40px;
}

.text {
  padding: 60px 60px;
  font-size: 24px;
}

.big-quote {
  font-family: Imprima;
  color: coral;
  margin: 0 auto;
  text-align: center;
  max-width: 940px;
  font-size: 24px;
  padding: 40px 0;
}

.three-stats {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  
  
}

.three-stats .stat {
  display: inline-block;
  width:300px;
  height: 150px;
  padding: 30px 30px;
  font-size: 24px;
}



