<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Doctors for Her</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.google.com/specimen/Imprima" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')
    }}"> 
    <div class="title"><h1>Doctors for Her</h1></div>
    {% block head %}
    
    {% endblock %}
  </head>
  <body>
  
    <div class="subtitle">
        <h2>Recommended by Women for Women</h2>
    </div>
    <div class="nav">
        <a href="{{ url_for('doctor_locator') }}">Find a doctor</a>
        <a href="{{ url_for('learn_more') }}">Learn More</a>
    </div>
    {% block body %}
    
    {% endblock %}
  </body>
  <footer>
    <div class="container">
      <p>&copy Doctors for Her 2023</p>
    </div>
  </footer>
</html>
