{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="title"><h1>Doctors for Her</h1></div>
<div>
    <h2>Recommended by Women for Women</h2>
</div>

<div class="nav">
    <a href = "/views/find_a_doctor">Find a Doctor</a>
    <a href = "/views/learn_more">Learn More</a>
</div>

<img class="main-img" src="https://static.vecteezy.com/system/resources/previews/000/395/356/original/group-of-strong-women-vector.jpg" alt="three women"
width=500px height=550px>
<h2>Learn more:</h2>
    <p>Do you ever feel ignored or belitted by healthcare professionals? Does it seem like they don't take your concerns seriously?</p> 
    <P>You are not alone.</P>
    <p><a href='https://papers.ssrn.com/sol3/papers.cfm?abstract_id=383803' target="_blank">One study</a> found that women in emergency rooms are less likely to be taken seriously than men. Another study found that women often receive <a href='https://www.telegraph.co.uk/news/2016/12/05/female-dementia-sufferers-get-worse-medical-treatment-men/' target="_blank">worse medical treatment</a> than men with the same condition.</p>

<div class="big-quote">
    <h2 >“Women have been more often referred to psychologists or psychiatrists, whereas men are given tests to rule out actual organic conditions”</h2>
    <h4>- <a href="https://www.bbc.com/future/article/20180518-the-inequality-in-how-women-are-treated-for-pain" target="_blank">Christin Veasley</a>, co-founder and director at the Chronic Pain Research Alliance</h4>
</div>

<div class="three-stats">
    <div class="stat">
        <img src="https://webstockreview.net/images/cinema-clipart-clipboard-15.png" width="50px" height="50px">
        <p>72% of the time, women <a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6368599/' target="_blank">in Denmark</a> waited longer to be diagnosed than men.</p> <!--icon: clipboard-->
    </div>
    <div class="stat">
        <img src="http://pluspng.com/img-png/basic-first-aid-png-first-aid-445.png" width="50px" height="50px">
        <p>39% of women who have a <a href='https://www.theguardian.com/society/health' target="_blank">cardiac arrest in public</a> were given CPR, compared to 45% of men.</p> <!--icon: first aid sign-->
    </div>
    <div class="stat">
        <img src="https://www.clker.com/cliparts/l/f/L/k/Q/e/blank-pill-bottles-hi.png" width="50px" height="50px">
        <p>Women are more likely to be given <a href='https://www.bbc.com/future/article/20180518-the-inequality-in-how-women-are-treated-for-pain' target="_blank">anti-anxiety medications</a> than men when they come to a hospital with pain.</p> <!--icon: pills-->
    </div>
</div>

<p>Our team at <strong>Doctors for Her</strong> have created this platform to connect women like you with doctors who will take your concerns seriously and give you the care you need.</p>
<h4>Doctors for women recommended by women.</h4>


{% endblock %}